@import "settings";
@import "foundation";

$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$primary-color: #2D81C1;
$secondary-color: #C12D81;
$ternary-color: #81C12D;

$footer-background: $primary-color;
$section-slide-background: $primary-color;

body {
  font-family: 'proxima-nova', sans-serif;
}

.top-bar-line {
  position: absolute;
  z-index: 100;
  top: 0;
  height: 5px;
  width: 100%;
  background-color: $primary-color;
  border-top: 2px solid #91B1FA;
}

[data-magellan-expedition] {
  background: rgba(0,0,0,0);
}

.sticky:not(.fixed) > nav.top-bar {
  margin-top: -$topbar-height;
  background-color: rgba(255,255,255,0.9);

}

// TODO: make variables for colors, once figure them out.
.menu {
  @media #{$small-only} {
    @extend .fixed;
    height: 0px;
  }

  @media #{$medium-up} {
    @extend .sticky;
  }
}

nav.top-bar {
  background-color: rgba(255,255,255,1.0);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-top: 5px solid $primary-color;
  text-transform: uppercase;
  //background-color: #2d81c1;
  //border-top: 2px solid #91B1FA;

  /*&:before {
    content: " ";
    height: 2px;
    background-color: #2d81c1;
  }*/

  /*-moz-box-shadow: 0 -5px 5px -5px orange;
  -webkit-box-shadow: 0 -5px 5px -5px orange;
  box-shadow: 0 -5px 5px -5px orange;*/

  /*
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);*/

  // bottom border
  //-moz-box-shadow: 0 5px orange;
  //-webkit-box-shadow: 0 5px orange;
  //box-shadow: 0 5px orange;
  text-align: left;

  &.expanded {
    background-color: rgba(255,255,255,1.0);

    .toggle-topbar {
      a {
        span {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }
}

.top-bar-section {
  ul li:hover > a > span {
    border-bottom: 2px solid $primary-color;
  }
}

section.slide-section:nth-of-type(odd) {
  background: $secondary-color;
}

section.slide-section {
  background: $section-slide-background;
  padding: 50px;

  @include grid-row;

  //padding: 120px 0;

  header {
    @include grid-row;

    h1 {
      @include grid-column(12);
      text-align: center;
      text-transform: uppercase;
    }
  }

  div {
    @include grid-column(12);
    padding: 0 0 120px 0;
  }
}

section.slide-section.full {
  max-width: 100%;
}

footer {
  background: $footer-background;
  padding: 20px 0;
  text-align: center;

  ul {
    margin: 0;

    li {
      display: inline-block;
      list-style: none outside none;

      a {
        color: #fff;
        font-size: 1.5em;
        margin: 0 5px;

        &:hover {
          color: #000;
        }
      }
    }
  }
}


.social-row {
  @include grid-row;
  background: $secondary-color;
  max-width: 100%;

  div {
    padding-left: 0;
    padding-right: 0;

    a {
    }
  }
}



#social .social-card {
  height: 400px;
}
.sbtn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 125px 0;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
  background: #999;
  color: #fff;
  width: 100%;
  height: 400px;
  line-height: 28px;
  font-size: 28px;
  letter-spacing: 2px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sbtn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}
.sbtn:hover {
  background: $ternary-color;
}
.sbtn:active {
  background: $primary-color; /* click */
}
.sbtn span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.8s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.8s;
  -moz-backface-visibility: hidden;
  transition: all 0.8s;
  backface-visibility: hidden;
}
.sbtn-fb span {
  background: url('../images/icon-social-fb.png') no-repeat center center;
}
.sbtn-twitter span {
  background: url('../images/icon-social-twitter.png') no-repeat center center;
}
.sbtn-instagram span {
  background: url('../images/icon-social-instagram.png') no-repeat center center;
}
.sbtn-houzz span {
  background: url('../images/icon-social-houzz.png') no-repeat center center;
}
.sbtn-fb {
  /*background: #00000;*/
}
.sbtn-twitter {
  background: #8d8c8c;
}
.sbtn-instagram {
  background: #868686;
}
.sbtn-houzz {
  background: #7b7b7b;
}

/* Branded Social Colors

.sbtn-fb {
	background: #3B5998;
}
.sbtn-twitter {
	background: #00acee;
}
.sbtn-instagram {
	background: #3f729b;
}
.sbtn-houzz {
	background: #73ba37;
}
*/

.sbtn:active:before {
  color: #703b87;
}
.sbtn:hover span {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  -ms-transform: translateY(300%);
  transform: translateY(300%);
}
.sbtn:before {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  left: 0;
  top: -100%;
}
.sbtn:hover:before {
  top: 0;
  bottom: 0;
  margin: 160px 0 0 0;
}
.sbtn:before {
  content: attr(data-content);
  /*content: url(../images/icon-social-twitter.png) "facebook.com/hello" ;*/
}
.sbtn-container {
  position: relative;
  text-align: center;
}
.sbtn-top {
  position: absolute;
  display: none;
  top: 200px;
  left: 50%;
  z-index: 1;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
}





.bg-pic {
  background-color: #303642;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.entry {
  background-position: center center;
  height: 500px;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%; // had screen media query

  @media #{$small-only} {
    height: $topbar-height;  // + 5
    //background: $secondary-color;
  }
}

body.f-topbar-fixed .entry {
  height: 0;
  display: none;
}

section.slide-section:first-of-type {
  //margin-top: 400px;
}