.row
  .small-12.columns
    h3 What is Acupuncture?
    p
      | Acupuncture is an ancient Chinese practice of inserting needles into specific points on the body to manipulate the flow of energy or qi (pronounced “chi”). The foundation of acupuncture is the idea that qi is an essential substance in the human body. Qi maintains the body’s vital activity and any changes to that vitality is due to changes in the flow of qi.
      | In China, traditional Chinese medicine is one of the primary modality practiced in hospitals to treat many ailments including, chronic and acute pain, neurological disorders, upper respiratory disorders, digestive disorders, urinary and reproductive disorders, immune function, addictions, eye and ear disorders, depression, anxiety, and insomnia.  Chinese medicine is based on the concept that symptoms are expressions of the imbalance of qi, and in order to address those imbalances, the underlying cause needs to be resolved.  While most people are familiar with acupuncture, there are many other modalities within traditional Chinese medicine. Dynamic Natural Medicine is able to provide the following therapies:
      | Cupping: a vacuum is created between a glass cup and skin, and is used to stimulate blood flow, relieve pain and release tension.
      | Moxabustion: the herb mugwort is burnt close to the body to create heat, stimulate qi and blood flow in the body.
      | Tui Na: a form of Chinese massage that helps stimulate blood and qi flow, release tension, and reduce pain.
      | Dietary Therapy: Chinese medicine has a different perspective on food.  Based on this perspective specific dietary recommendations will be made to address the underlying condition.
      | If you have never had acupuncture there is no better time then now to try. Come in with what ails you and we will see if acupuncture is the remedy.