form#contact-form.row(method="post", action="http://grabber.grabgrab.io/capture/529f4575e7a67937e50001d9")
  .row
    .medium-6.columns
      input(type="text", name="name", placeholder="What should we call you?")
    .medium-6.columns
      input(type="text", name="email", placeholder="Where can we email you back?")
  .row
    .small-12.columns
      textarea(name="message", placeholder="How can we help you?")
      button.g.submit(type="submit") Send It
// TODO: error handling
//  .grid.pad
    .form-plant
      //p.plant
        | Your message has been delivered.
        br
        | We will get back to you in a jiff.
      .g-1-2.boxxy.small-6

      .g-1-2.boxxy.small-6

      .g-1.boxxy.small-12
