//
  <form data-abide>
    <div class="name-field">
      <label>Your name <small>required</small>
        <input type="text" required pattern="[a-zA-Z]+">
      </label>
      <small class="error">Name is required and must be a string.</small>
    </div>
    <div class="email-field">
      <label>Email <small>required</small>
        <input type="email" required>
      </label>
      <small class="error">An email address is required.</small>
    </div>
    <button type="submit">Submit</button>
  </form>


form#contact(action='/contact', data-abide)
  .name-field
    label Your name
      input(type="text", required, pattern="[a-zA-Z]+")
    small.error Name is required

form#contactus(action='/contact', method='post', data-abide)
  fieldset
    p
      label(for='name') Name:
      br
      input(name='name', type='text', value='', id='name')
    p
      label(for='email') Email:
      br
      input(name='email', type='text', value='', id='email')
    p
      label(for='message') Message:
      br
      textarea(name='message', cols='40', rows='10', id='message')
    p
      input(name='submit', type='submit', value='Send', id='submit')