.discounts
  .row(data-equalizer)
    .medium-6.columns
      h3 Student Discount
      .box(data-equalizer-watch) Dynamic Natural Medicine offers a 50% discount to college students. Must be currently enrolled and present student ID at the time of service. Discount does not apply to laboratory testing or supplements.
      .discount-circle
        div 50%
    .medium-6.columns
      h3 Pre-booking Discount
      .box(data-equalizer-watch) If you book your next appointment before you leave our office, a 10% discount will be given for the future visit.
      .discount-circle
        div 10%