.discounts
  .row(data-equalizer)
    .medium-6.columns
      h3 Student Discount
      .box(data-equalizer-watch) Dynamic Natural Medicine offers a 50% discount to college students. Must be currently enrolled and present student ID at the time of service. Discount does not apply to laboratory testing or supplements.
      .discount-circle
        div 50%
    .medium-6.columns
      h3 Time of Service Discount
      .box(data-equalizer-watch) If full payment is received at time of service a 20% discount will be given.
      .discount-circle
        div 20%