.fees
  .row
    .medium-12.small-centered.columns
      .fee-circle 30
      span Returned Check Fee (NSF)
  .row
    .medium-12.small-centered.columns
      .fee-circle 50
      span No Show/Cancellation Fee (if cancelled or rescheduled within 24 hours of your scheduled appointment)
