footer
  .row
    .large-12.small-centered.columns
      ul
        li
          a(href='//www.facebook.com/DynamicNaturalMedicine', target='_blank')
            i.fa.fa-facebook
        li
          a(href='//www.linkedin.com/company/3593126', target='_blank')
            i.fa.fa-linkedin
        li
          a(href='//plus.google.com/+DynamicNaturalMedicine?rel=author', target='_blank')
            i.fa.fa-google-plus
        li
          a(href='http://maps.apple.com/?daddr='+encodeURIComponent(info.address.oneline)+',+CA&saddr=')
            i.fa.fa-map-marker
  //.row
    .large-12.columns
      a(href='tel:+'+info.phone)
        i.fa.fa-phone
        = info.phoneFormatted
  //.row
    .large-12.columns
      .address= info.address