footer
  .large-12.small-centered.columns
    ul
      li
        a(href='http://twitter.com/#!/WebKnit', target='_blank')
          i.fa.fa-twitter
      li
        a(href='http://twitter.com/#!/WebKnit', target='_blank')
          i.fa.fa-facebook
      li
        a(href='http://twitter.com/#!/WebKnit', target='_blank')
          i.fa.fa-google-plus
      li
        a(href='http://twitter.com/#!/WebKnit', target='_blank')
          i.fa.fa-instagram