.insurance
  .row
    .service
      h3 Insurance
      p Dynamic Natural Medicine is currently accepting the following insurance plan(s):
      p
        a(href="//www.premera.com/", target="_blank") Premera/Lifewise
        a(href="//www.aetna.com/", target="_blank") Aetna
        a(href="//www.cigna.com/", target="_blank") Cigna
      br
      p For all other patients, payment for services is due at the time of your appointment. Dr. Read is considered an out of network provider. If your insurance company covers the services you received, we will provide you with the appropriate paperwork to submit to your insurance company for reimbursement of your appointment. It is the patients responsibility to confirm coverage.
      p Please check website for updates on credentialing status.