.insurance
  .row
    .service-centered
      h3 Insurance
      p Currently payment for services is due at the time of your appointment. Dr. Read is considered an out of network provider. If your insurance company covers the services you received we will provide you with the appropriate paperwork to submit to your insurance company for reimbursement of your appointment. Please check back for updates on credentialing status.