.service-info
  .small-12.columns
    h3 What is Naturopathic Medicine?
    p
      | Naturopathic medicine is a distinct system of primary care profession emphasizing a holistic approach to prevention, treatment and optimal health by utilizing methods and substances that encourage the inherent self-healing processes.
      br
      | The therapeutic focus is on removing obstacles to cure and treating the whole person, in order to optimize health.
    #extended-naturo-definition.hide
      p
        br
        br
        | Naturopathic doctors undergo rigorous training through an accredited four-year doctoral program. In addition to basic medical sciences and conventional diagnostic, Naturopathic education includes therapeutic nutrition, herbal medicine, homeopathy, physical medicine, pharmacology and minor surgery. They receive over 1,000 hours of clinical training, and pass two medical board exams in order to obtain their medical license. They are trained to blend traditional and conventional therapies to create an individualized treatment plan using the least invasive options possible, to achieve the greatest result.
        br
        br
      span Naturopaths operate under the following principles:
      ul
        li First Do No Harm – Naturopath’s use methods and medicinal products that minimize the risk of harmful side effects, using the least force necessary to diagnose and treat.  We avoid, when possible, the harmful suspension of symptoms and we acknowledge, respect and work with the individual’s self-healing process.
        li The Healing Power of Nature- Naturopathic medicine recognizes an inherent self-healing process in people that is ordered and intelligent.  Naturopathic physicians act to identify and remove obstacles to healing and recovery, and to facilitate and augment this inherent self-healing process. Discover and Treat the Cause, Not just the effect
        li Treat the whole person – Naturopathic physicians treat each patient by taking into account individual physical, mental, emotional, genetic, environmental, social and othe factors.  Since total health also includes spiritual health, naturopathic physicians encourage individuals to pursue their personal spiritual development.
        li Identify and treat the cause: The naturopathic physician seeks to identify and remove the underlying causes of illness rather than to merely eliminate or suppress symptoms.
        li The physician is a teacher – We educate our patients and encourage self-responsibility for health.  We also recognize and employ the therapeutic potential of the doctor-patient relationship.
        li Prevention is the best “cure” - We emphasize the prevention of disease by assessing risk factors, heredity and susceptibility to disease, and by making appropriate interventions in partnership with their patients to prevent illness.
    .read-more
      button#extend-naturo-definition(data-event="read.more", data-target="#extended-naturo-definition") Read More
      // TODO: create jquery plugin, to add this javascript