.services
  .row
    .service.centered
      h3 Initial Consultation Fee (15 minutes)
      p Free
      hr

  .row
    .service.centered
      h3 Naturopathic & Acupuncture Visit
      p
        span.service-title New Patient Visit
        span.service-length 60 minutes
        span.service-price 225
      p
        span.service-title Return Patient Visit
        span.service-length 30 minutes
        span.service-price 115
      p
        span.service-title Extended Return
        span.service-length 45 minutes
        span.service-price 170
      p
        span.service-title Brief Visit
        span.service-length 20 minutes
        span.service-price 75
      //p Return Patient Visit (30min): $115
      //p Extended Return (45 minutes) $170
      //p Brief Visit (20 minutes): $75
      hr

  .row
    .service.centered
      h3 Acupuncture Only
      p
        span.service-title New Patient Acupuncture Only Visit
        span.service-length 60 minutes
        span.service-price 135
      p
        span.service-title Return Acupuncture Only Visit
        span.service-length 30 minutes
        span.service-price 65
      //p New Patient Acupuncture Only Visit (60 min): $135
      //p Return Acupuncture Only Visit (30 minutes): $65
      hr

  .row
    .service.centered
      h3 Phone Consultation
      p
        span.service-title Phone Consult
        span.service-length 5-10 minutes
        span.service-price 45
      p
        span.service-title Phone Consult
        span.service-length 10-20 minutes
        span.service-price 75
      //p Phone Consult (5-10 minutes): $45
      //p Phone Consult (10-20 minutes): $75