.services
  .row
    .service-centered
      h3 Initial Consultation Fee (15 minutes)
      p Free
      hr

  .row
    .service-centered
      h3 Naturopathic & Acupuncture Visit
      p New Patient Visit (60 min): $225
      p Return Patient Visit (30min): $115
      p Extended Return (45 minutes) $170
      p Brief Visit (20 minutes): $75
      hr

  .row
    .service-centered
      h3 Acupuncture Only
      p New Patient Acupuncture Only Visit (60 min): $135
      p Return Acupuncture Only Visit (30 minutes): $65
      hr

  .row
    .service-centered
      h3 Phone Consultation
      p Phone Consult (5-10 minutes): $45
      p Phone Consult (10-20 minutes): $75




//.row.panel
  .small-12.columns
    h2 Initial Consultation Fee (15 minutes) - Free

//.row.panel
  .small-12.columns
    h2 Naturopathic & Acupuncture Visit
    ul
      li New Patient Visit (60 min): $225
      li Return Patient Visit (30min): $115
      li Extended Return (45 minutes) $170
      li Brief Visit (20 minutes): $75

//.row.panel
  .small-12.columns
    h2 Acupuncture Only
    ul
      li New Patient Acupuncture Only Visit (60 min): $135
      li Return Acupuncture Only Visit (30 minutes): $65

//.row.panel
  .small-12.columns
    h2 Phone Consultation
    ul
      li Phone Consult (5-10 minutes): $45
      li Phone Consult (10-20 minutes): $75

//.row.panel(data-equalizer)
  .service(data-equalizer-watch)

  .service(data-equalizer-watch)
    h2 Naturopathic & Acupuncture Visit
    ul
      li New Patient Visit (60 min): $225
      li Return Patient Visit (30min): $115
      li Extended Return (45 minutes) $170
      li Brief Visit (20 minutes): $75

//.row.panel(data-equalizer)
  .service(data-equalizer-watch)
    h2 Acupuncture Only
    ul
      li New Patient Acupuncture Only Visit (60 min): $135
      li Return Acupuncture Only Visit (30 minutes): $65
  .service(data-equalizer-watch)
    h2 Phone Consultation
    ul
      li Phone Consult (5-10 minutes): 45
      li Phone Consult (10-20 minutes): 75


