.services
  .row
    .service-centered
      h3 Initial Consultation Fee (15 minutes)
      p Free
      hr

  .row
    .service-centered
      h3 Naturopathic & Acupuncture Visit
      p New Patient Visit (60 min): $225
      p Return Patient Visit (30min): $115
      p Extended Return (45 minutes) $170
      p Brief Visit (20 minutes): $75
      hr

  .row
    .service-centered
      h3 Acupuncture Only
      p New Patient Acupuncture Only Visit (60 min): $135
      p Return Acupuncture Only Visit (30 minutes): $65
      hr

  .row
    .service-centered
      h3 Phone Consultation
      p Phone Consult (5-10 minutes): $45
      p Phone Consult (10-20 minutes): $75