.services
  .row
    .service.centered
      h3 Initial Consultation Fee (15 minutes)
      p Free
      hr

  .row
    .service.centered
      h3 Naturopathic & Acupuncture Visit
      p
        span.service-title New Patient Visit*
        span.service-length 60 minutes
        span.service-price 170-465
      p
        span.service-title Return Patient Visit*
        span.service-length 30 minutes
        span.service-price 110-370
      hr

  .row
    .service.centered
      h3 Acupuncture Only
      p
        span.service-title New Patient Acupuncture Only Visit*
        span.service-length 60 minutes
        span.service-price 135
      p
        span.service-title Return Acupuncture Only Visit*
        span.service-length 30 minutes
        span.service-price 105-115
      hr

  .row
    .service.centered
      h3 Phone Consultation
      p
        span.service-title Phone Consult
        span.service-length 5-10 minutes
        span.service-price 45
      p
        span.service-title Phone Consult
        span.service-length 10-20 minutes
        span.service-price 75