.social-squares
    .small-6.columns
      div
        a(href='http://twitter.com/#!/WebKnit', target='_blank')
          i.fa.fa-facebook
      div
        a(href='http://twitter.com/#!/WebKnit', target='_blank') Like Us
    .small-6.columns
      a(href='http://twitter.com/#!/WebKnit', target='_blank')
        i.fa.fa-google-plus

  section.slide-up-boxes
    a(href='http://wufoo.com')
      .second-slide Like Us
      .first-slide
        i.fa.fa-facebook
    a(href='http://wufoo.com')
      .second-slide Follow Us
      .first-slide
        i.fa.fa-twitter

  section
    .social-row
      .grid_6.social-card.medium-6.small-12.columns
        a.sbtn-container(href='https://www.facebook.com/pages/Ditto-Residential/186550631371629', target='_blank')
          .sbtn.sbtn-fb(data-content='Like Us')
            span
      .grid_6.social-card.omega.medium-6.small-12.columns
        a.sbtn-container(href='https://www.twitter.com/martin_ditto', target='_blank')
          .sbtn.sbtn-twitter(data-content='Follow Us')
            span
    .social-row
      .grid_6.social-card.medium-6.small-12.columns
        a.sbtn-container(href='http://instagram.com/dittoresidential', target='_blank')
          .sbtn.sbtn-instagram(data-content='Follow Us')
            span
      .grid_6.social-card.omega.medium-6.small-12.columns
        a.sbtn-container(href='http://houzz.com/pro/dittoresidential', target='_blank')
          .sbtn.sbtn-houzz(data-content='Full Portfolio')
            span
  .row.color
  .row.color