section
  .social-row
    .social-card.medium-6.small-12.columns
      a.grid-button-container(href=info.links.patient.dispensary, target='_blank')
        .grid-button.grid-button-healthwave(data-content='Purchase products at our virtual dispensary')
          span Virtual Dispensary
    .social-card.medium-6.small-12.columns
      a.grid-button-container(href=info.links.patient.portal, target='_blank')
        .grid-button.grid-button-charm(data-content='Click to Login')
          span Patient Portal