section
  .social-row
    .grid_6.social-card.medium-6.small-12.columns
      a.sbtn-container(href=info.links.patient.dispensary, target='_blank')
        .sbtn.sbtn-fb(data-content='Purchase products at our virtual dispensary')
          span: img(src="http://assets.healthwave.co/buttons/4.jpg", alt="Purchase products at our virtual dispensary")
    .grid_6.social-card.omega.medium-6.small-12.columns
      a.sbtn-container(href=info.links.patient.portal, target='_blank')
        .sbtn.sbtn-twitter(data-content='Click to Login')
          span Patient Portal