section
  .social-row
    .grid_6.social-card.medium-6.small-12.columns
      a.sbtn-container(href=info.links.patient.dispensary, target='_blank')
        .sbtn.sbtn-fb(data-content='Purchase products through our Health Wave Virtual dispensary')
          span: img(src="http://assets.healthwave.co/buttons/4.jpg", alt="Purchase products through our Health Wave virtual dispensary.")
    .grid_6.social-card.omega.medium-6.small-12.columns
      a.sbtn-container(href=info.links.patient.portal, target='_blank')
        .sbtn.sbtn-twitter(data-content='Click to Login')
          span Patient Portal
  //.social-row
    .grid_6.social-card.medium-6.small-12.columns
      a.sbtn-container(href='//www.facebook.com/DynamicNaturalMedicine', target='_blank')
        .sbtn.sbtn-instagram(data-content='Follow Us')
          span: i.fa.fa-google-plus
    .grid_6.social-card.omega.medium-6.small-12.columns
      a.sbtn-container(href='//www.facebook.com/DynamicNaturalMedicine', target='_blank')
        .sbtn.sbtn-houzz(data-content='Full Portfolio')
          span: i.fa.fa-google-plus

            //
              <a href="https://www.healthwavehq.com/welcome/jread">
                <img src="http://assets.healthwave.co/buttons/4.jpg" alt="Purchase products through our Health Wave virtual dispensary." border="0">
              </a>