section
  .social-row
    .grid_6.social-card.medium-6.small-12.columns
      a.sbtn-container(href='//www.facebook.com/DynamicNaturalMedicine', target='_blank')
        .sbtn.sbtn-fb(data-content='Like Us')
          span: i.fa.fa-google-plus
    .grid_6.social-card.omega.medium-6.small-12.columns
      a.sbtn-container(href='//www.facebook.com/DynamicNaturalMedicine', target='_blank')
        .sbtn.sbtn-twitter(data-content='Follow Us')
          span: i.fa.fa-google-plus
  .social-row
    .grid_6.social-card.medium-6.small-12.columns
      a.sbtn-container(href='//www.facebook.com/DynamicNaturalMedicine', target='_blank')
        .sbtn.sbtn-instagram(data-content='Follow Us')
          span: i.fa.fa-google-plus
    .grid_6.social-card.omega.medium-6.small-12.columns
      a.sbtn-container(href='//www.facebook.com/DynamicNaturalMedicine', target='_blank')
        .sbtn.sbtn-houzz(data-content='Full Portfolio')
          span: i.fa.fa-google-plus