doctype html
html.no-js(lang='en')
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include includes/meta
    link(rel='icon', href='/assets/favicon.ico')

    title
      block title
        = meta.title

    block stylesheets

    script(src='js/modernizr.2.8.2.min.js')
  body(itemscope itemtype="http://schema.org/LocalBusiness")
    block content

    block scripts
      include includes/tracking