extends layout

block stylesheets
  link(rel='stylesheet', href='css/app.css')

append scripts
  script(src='bower_components/jquery/jquery.js')
  script(src='bower_components/foundation/js/foundation.min.js')
  script(src='js/app.js')

block content
  .bg-pic(style="background-image: url(/assets/images/main.jpg);background-size: cover;")

  //section#header.slide-section(data-magellan-destination='header')
    header
    div
      img(src='http://placehold.it/1600x600&text=Header')

  section.entry

  // nest under, if want always present
  include includes/menu

  section#about.slide-section.full(data-magellan-destination='about')
    header
      h1 HI, NICE TO MEET YOU!
    div
      img(src='http://placehold.it/1600x600&text=About')

  section#new.slide-section.full(data-magellan-destination='new')
    header
      h1 New Patients
    div
      img(src='http://placehold.it/1600x600&text=NewPatients')

  section#contact.slide-section.full(data-magellan-destination='contact')
    header
      h1 Contact us
    div
      img(src='http://placehold.it/1600x600&text=Contact')

  include includes/social

  // TODO: break into smaller jade templates
  include includes/footer