extends layout

block stylesheets
  link(rel='stylesheet', href='css/app.css')

append scripts
  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='bower_components/jquery-validation/dist/jquery.validate.min.js')
  //script(src='bower_components/jquery-ui/ui/minified/jquery.ui.effect.min.js');
  script(src='bower_components/foundation/js/foundation.min.js')
  script(src='js/app.min.js')

block content
  //.bg-pic(style="background-image: url(/assets/images/main.jpg);background-size: cover;")
  .bg-pic
    .welcome
      | Welcome to
      br
      | Dynamic Natural Medicine
  meta(itemprop="image", content=meta.image)
  section.entry

  //.fixed
  .sticky
    include includes/menu

  section#about.slide-section.full
    header#about-header
      h1: span(itemprop="name") Meet Dr. Jennifer S. Read
    .content
      .bio
        .bio-container
          include includes/bio

  section#new.slide-section.full
    header#new-header
      h1 New Patients
    .content
      .new-patients-callout
        .contact-us
          | Use the below
          a(href="#contact") &nbsp;contact infomation
          | &nbsp;to schedule an appointment. Once an appointment is booked the necessary New Patient forms will be available from the
          a(href=info.links.patient.portal, target="_blank") &nbsp;Patient Portal
          |.

      include includes/natropathic_definition
      include includes/accupunture_definition

  section#services.slide-section.full
    header#services-header
      h1 Services & Fees
    .content
      include includes/services
      include includes/fees
      include includes/discounts

      include includes/insurance

  section#contact.slide-section.full
    header#contact-header
      h1 Contact us
    .content
      include includes/contact_info
      include includes/contact_form

  include includes/social
  include includes/footer